/* ---------------------------
   Animated Bubbles Background
--------------------------- */
.bubbles-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.bubble {
  position: absolute;
  bottom: -150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: rise 25s infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.15);
}

@keyframes rise {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateY(-105vh) translateX(-10vw);
    opacity: 0;
  }
}

/* Assign random sizes, positions, and animation delays */
.bubble:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 10%;
  animation-duration: 22s;
  animation-delay: 0s;
}
.bubble:nth-child(2) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 28s;
  animation-delay: 2s;
}
.bubble:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 35%;
  animation-duration: 18s;
  animation-delay: 4s;
}
.bubble:nth-child(4) {
  width: 90px;
  height: 90px;
  left: 50%;
  animation-duration: 26s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 20s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 19s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 50px;
  height: 50px;
  left: 80%;
  animation-duration: 24s;
  animation-delay: 5s;
}
.bubble:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 90%;
  animation-duration: 21s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 25%;
  animation-duration: 29s;
  animation-delay: 6s;
}
.bubble:nth-child(10) {
  width: 75px;
  height: 75px;
  left: 70%;
  animation-duration: 17s;
  animation-delay: 4s;
}
.bubble:nth-child(11) {
  width: 55px;
  height: 55px;
  left: 15%;
  animation-duration: 23s;
  animation-delay: 8s;
}
.bubble:nth-child(12) {
  width: 65px;
  height: 65px;
  left: 45%;
  animation-duration: 27s;
  animation-delay: 1s;
}
.bubble:nth-child(13) {
  width: 85px;
  height: 85px;
  left: 75%;
  animation-duration: 20s;
  animation-delay: 6s;
}
.bubble:nth-child(14) {
  width: 30px;
  height: 30px;
  left: 5%;
  animation-duration: 30s;
  animation-delay: 3s;
}
.bubble:nth-child(15) {
  width: 95px;
  height: 95px;
  left: 85%;
  animation-duration: 16s;
  animation-delay: 7s;
}