@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=  +Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rowdies:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%; /* Ensures body always spans at least the viewport */
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffffff; /* Ensures padding and borders are included in width/height */
}
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#root {
  min-height: 100%; /* Ensures root spans at least the viewport */
  width: 100%;
  display: flex; /* Flex layout to allow flexible children */
  flex-direction: column; /* Stack children vertically */
  box-sizing: border-box;
}
